<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>A static file</title>

  </head>
 <body>
    
    
     <form action="/" method="POST">
      
       <div style="display:inline;" >
          <label  for="login">login</label>
       </div>
      <div style="display:inline;" >
        <input type="text" id="login" name="login" required placeholder="Choose a login">
    </div>
       
        <div style="display:inline;" >
          <label for="pass">password</label>
       </div>
         <div style="display:inline;" >
        <input type="text" id="pass" name="pass" required placeholder="Choose a password">
    </div>
       
       <div style="display:inline;"  class="go">
        <button type="submit">Go</button>
    </div>
       
    </form>
  </body>
    
</html>