<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>A static file</title>
  </head>
  <body>
    

    
    <table>
       <tr>
         <td>Login</td> 
        <td>Name</td> 
        <td>Color</td> 
      </tr>
 {% for l in liste %}    
      <tr>
        {% if l.login == test %}
        
        <td><strong>{{ l.login }} </strong> </td>
        <td>{{ l.name }}  </td> 
        
        {% else %}
        
        <td>{{ l.login }}  </td> 
        <td>{{ l.name }}  </td> 
        
      
        {% endif %}
          
    

        
        <td style="background-color: {{ l.color1 }}; height: 20px; width:20px;"> </td> 
      </tr>
     
 {% endfor %}
</table>
    
    <a href="{{link}}">Logout</a>
  </body>
    
</html>